@import url('https://fonts.googleapis.com/css2?family=Six+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Six+Caps&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

.form__group {
  position: relative;
  padding: 20px 0 0;
  width: 100%;
  max-width: 480px;
}

.form__field {
  width: 100%;
  border: none;
  border-bottom: 2px solid white;
  outline: 0;
  font-size: 23px;
  font-weight: 400;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown~.form__label {
  font-size: 30px;
  cursor: text;
  top: 13px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  pointer-events: none;
  font-weight: bold;
}

.form__field:focus {
  padding-bottom: 6px;
  border-width: 3px;
  border-image: linear-gradient(to right, #FFC107, #AA8108);
  border-image-slice: 1;
}

.form__field:focus~.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
}


.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

.level__label {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.level__input {
  margin-right: 7px;
}

.level__input:checked~.level__label {
  color: #FFC107;
}

.explicacion__nivel {
  font-size: 15px;
  color: #C1BCBC;
  margin-left: 20px;
  max-width: 480px;
}

/* Estilo base para las columnas */
.column {
  transition: transform 0.8s ease-in-out;
}

.image-column.order-2 {
  transform: translateX(-100%);
}

.bg-gold{
  --tw-bg-opacity: 1;
  background-color: rgb(255 193 7 / var(--tw-bg-opacity, 1));
}

.bg-greenButton{
  --tw-bg-opacity: 1;
  background-color: rgb(144 236 111 / var(--tw-bg-opacity, 1));
}

.bg-blueButton{
  --tw-bg-opacity: 1;
  background-color: rgb(187 152 242 / var(--tw-bg-opacity, 1));
}

