:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #BFC2AE;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Cambiar el fondo de la ventana */
.leaflet-routing-container {
  background-color: #f9f9f9;
  /* Color claro */
  border: 1px solid #ccc;
  /* Borde gris */
  border-radius: 8px;
  /* Esquinas redondeadas */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  /* Sombra */
}

/* Estilo de las rutas alternativas */
.leaflet-routing-alt {
  background-color: #061f22;
  /* Fondo azul claro */
  padding: 10px;
  /* Espaciado interno */
  margin: 5px 0;
  /* Separación entre alternativas */
  border-radius: 6px;
  /* Bordes redondeados */
}

/* Texto dentro de las rutas */
.leaflet-routing-alt h3,
.leaflet-routing-alt p {
  color: #00796b;
  /* Color de texto */
  font-family: 'Arial', sans-serif;
  /* Fuente personalizada */
  font-size: 14px;
  /* Tamaño de texto */
}

/* General container for the login page */
.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: Arial, sans-serif;
}

/* Heading style */
.login-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

/* Form styling */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Form group for label and input */
.form-group {
  margin-bottom: 15px;
  width: 100%;
  text-align: left;
  color: black;
}
/* Label styling */
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
}

/* Input field styling */
.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  transition: border-color 0.3s;
}

/* Input focus state */
.form-group input:focus {
  outline: none;
  border-color: #007BFF;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

/* Submit button styling */
button[type="submit"] {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Button hover state */
button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Link to the signup page */
.login-container a {
  margin-top: 15px;
  display: inline-block;
  text-decoration: none;
  color: #007BFF;
  font-size: 14px;
  transition: color 0.3s;
}

/* Hover effect for the link */
.login-container a:hover {
  color: #0056b3;
}